<p id="notice"><%= notice %></p>
<div class="row" style="width: 90%;"> 
  <% @cohorts.each do |cohort| %>
  <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><%= cohort.name %></h5>
    <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
    <p class="card-text">FROM: <%= cohort.start_date %>TO: <%= cohort.end_date %> </p>
    <a class="card-link"><%= link_to 'Show', cohort %></a>
    <a  class="card-link"><%= link_to 'Edit', edit_cohort_path(cohort) %></a>
    <a  class="card-link"><%= link_to 'Destroy', cohort, method: :delete, data: { confirm: 'Are you sure?' } %></a>
  </div>
</div>
<% end %>

</div>

<%= link_to 'New Cohort', new_cohort_path %>

















